	<!-- 文章列表 -->
	<ul class="ui_news_list ui_news_list2">
	    <div ng-hide="page.data[page.currentindex].length" class="IFlogin">
                    <h4 class="middle">没有相关内容</h4>
       </div>
		<li ng-repeat="x in page.data[page.currentindex]"><a href="{{x.type|reverse3}}{{x.id}}"><span class="type"></span><span class="text">{{x.titile}}</span><span ng-hide="phone" class="auth"> <span class="glyphicon glyphicon-user"></span> {{x.author}}</span><span ng-hide="phone" class="date">{{x.publishTime|reverse2}}</span></a></li>
	</ul>
	<div class="clearfix"></div>
	<div ng-show="pagingOptions.totalPage>1" class="tcdPageCode" pageset='getsearchData()'>
 	</div>

